AtCloseUploadService/Service References/SilkReceiveNoteService/ReceiveNoteService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://order.silktitle.com/ResWareWebServices/ReceiveNoteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Adeptive.ResWare.Services" />
  <xs:element name="ReceiveNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Adeptive.ResWare.Services" minOccurs="0" name="NoteData" nillable="true" type="q1:ReceiveNoteData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveNoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Adeptive.ResWare.Services" minOccurs="0" name="ReceiveNoteResult" nillable="true" type="q2:ReceiveNoteResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>